<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.todo.mapper.ToDoMapper">
    <!-- 全件検索 -->
    <select id="selectAll" resultType="com.example.todo.entity.ToDo">
        SELECT id, todo, detail, completed, priority, category, created_at, updated_at FROM todos
    </select>
    <!-- １件検索 -->
    <select id="selectById" resultType="com.example.todo.entity.ToDo">
        SELECT id, todo, detail, completed, priority, category, created_at ,updated_at 
        FROM todos WHERE id = #{id}
    </select>
    <!-- 登録 -->
    <insert id="insert">
	    INSERT INTO todos (todo, detail, completed, priority, category, created_at, updated_at) 
	    VALUES 
	    (#{todo}, #{detail}, #{completed}, #{priority}, #{category}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>
    <!-- 更新 -->
    <update id="update">
	    UPDATE todos SET todo = #{todo}, detail = #{detail},
	    completed = #{completed}, priority = #{priority}, 
	    category = #{category},
	    updated_at = CURRENT_TIMESTAMP WHERE id = #{id}
    </update>
    <!-- 削除 -->
    <delete id="delete">
        DELETE FROM todos WHERE id = #{id}
    </delete>
</mapper>