<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>ToDo一覧</title>
</head>

<body>
	<h2>ToDo一覧</h2>
	<!-- Flashメッセージの表示 -->
	<p th:if="${message}" th:text="${message}" style="color: blue;">完了メッセージ
	</p>
	<p th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;">
		エラーメッセージ
	</p>
	<table border="1" width="300">
		<thead>
			<tr>
				<th>ID</th>
				<th>ToDo</th>
				<th>詳細</th>
				<th>優先度</th>
				<th>カテゴリー</th>
				<th>完了</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="todo : ${todos}">
				<td th:text="${todo.id}"></td>
				<td th:text="${todo.todo}"></td>
				<td>
					<a th:href="@{/todos/{id}(id=${todo.id})}">
						詳細
					</a>
				</td>
				<td>
					<span th:if="${todo.priority == 1}">高</span>
					<span th:if="${todo.priority == 2}">中</span>
					<span th:if="${todo.priority == 3}">低</span>
				</td>
				<td th:text="${todo.category}"></td>
				<td th:text="${todo.completed} ? '完了' : '未完了'"></td>
			</tr>
		</tbody>
	</table>
	<a th:href="@{/todos/form}">新規登録</a>
	<!-- ▽▽▽▽▽ A.27 ▽▽▽▽▽ -->
	<br>
</body>

</html>